/*@@author A0125364J */

.main {
	-fx-background-color:#FFFFFF;
}

.software-title {
	-fx-font-family:'Roboto Black';	
	-fx-font-size:24;
	-fx-font-weight:normal;
}

.overlay {
	-fx-background-color:#000000;
}

.text-field {
	-fx-text-box-border:#16A085;
	-fx-focus-color:#16A085;
}

.title {
	-fx-font-family:'Roboto Condensed';	
	-fx-font-size:17;
	-fx-font-weight:bold;
}

.subtitle {
	-fx-font-family:'Roboto Condensed';
	-fx-font-size:12;
	-fx-font-weight:bold;
}

.taskname {
	-fx-font-family:'Roboto Slab Regular';	
	-fx-font-size:12;
	/*-fx-font-weight:bold;*/
}

.timestamp {
	-fx-font-family:'Roboto Condensed';
	-fx-font-size:11;
	-fx-font-weight:bold;
}



/**************** overdue styling ****************/
.overdue-scrollpane, .overdue-panel {
	-fx-background-color:rgb(255, 138, 128);
}

.overdue-scrollpane > .scroll-bar:horizontal .thumb,
.overdue-scrollpane > .scroll-bar:vertical .thumb {
	-fx-background-color:#99534D;
}

.overdue-panel .check-box > .box {
	-fx-border-color:#7E443F;
}

.overdue-panel .check-box {
	-fx-font-family:'Roboto';
	-fx-text-fill:#5D322E;
	-fx-font-size:10;
	-fx-font-weight:bold;
}

.overdue-panel .title, .overdue-panel .taskname {
	-fx-text-fill:#5D322E;
}

.overdue-panel .subtitle, .overdue-panel .timestamp {
	-fx-text-fill:#B26059;
}



/**************** floating styling ****************/
.floating-scrollpane, .floating-panel {
	-fx-background-color:rgb(128, 216, 255);
}

.floating-scrollpane > .scroll-bar:horizontal .thumb,
.floating-scrollpane > .scroll-bar:vertical .thumb {
	-fx-background-color:#406C7F;
}

.floating-panel .check-box > .box {
	-fx-border-color:#406C7F;
}

.floating-panel .check-box {
	-fx-font-family:'Roboto';
	-fx-text-fill:#2D4D5A;
	-fx-font-size:10;
	-fx-font-weight:bold;
}

.floating-panel .title, .floating-panel .taskname {
	-fx-text-fill:#2D4D5A;
}

.floating-panel .subtitle, .floating-panel .timestamp {
	-fx-text-fill:#5997B2;
}



/**************** comingsoon styling ****************/
.comingsoon-scrollpane, .comingsoon-panel {
	-fx-background-color:rgb(204, 255, 144);
}

.comingsoon-scrollpane > .scroll-bar:horizontal .thumb,
.comingsoon-scrollpane > .scroll-bar:vertical .thumb {
	-fx-background-color:#657E47;
}

.comingsoon-panel .check-box > .box {
	-fx-border-color:#657E47;
}

.comingsoon-panel .check-box {
	-fx-font-family:'Roboto';
	-fx-text-fill:#485A33;
	-fx-font-size:10;
	-fx-font-weight:bold;
}

.comingsoon-panel .title, .comingsoon-panel .taskname {
	-fx-text-fill:#485A33;
}

.comingsoon-panel .subtitle, .comingsoon-panel .timestamp {
	-fx-text-fill:#8EB264;
}



/**************** daily styling ****************/
.daily-scrollpane, .daily-panel {
	-fx-background-color:rgb(255, 255, 141);
}

.daily-scrollpane > .scroll-bar:horizontal .thumb,
.daily-scrollpane > .scroll-bar:vertical .thumb {
	-fx-background-color:#7E7E45;
}

.daily-panel .check-box > .box {
	-fx-border-color:#7E7E45;
}

.daily-panel .check-box {
	-fx-font-family:'Roboto';
	-fx-text-fill:#5D5D33;
	-fx-font-size:10;
	-fx-font-weight:bold;
}

.daily-panel .title, .daily-panel .taskname {
	-fx-text-fill:#5D5D33;
}

.daily-panel .subtitle, .daily-panel .timestamp {
	-fx-text-fill:#B2B262;
}



/**************** search styling ****************/
.search-view-title {
	-fx-font-family:'Roboto Condensed';
	-fx-font-size:24;
	-fx-font-weight:normal;
}

.search-pane .title {
	-fx-font-family:'Roboto Condensed';
	-fx-font-size:20;
	-fx-font-weight:normal;
}

.search-pane .check-box {
	-fx-font-family:'Roboto';
	-fx-text-fill:#FFFFFF;
	-fx-font-size:10;
	-fx-font-weight:bold;
}

.search-pane .taskname, .search-pane .timestamp {
	-fx-text-fill:#FFFFFF;
}



/**************** completed styling ****************/
.completed-pane .title {
	-fx-font-family:'Roboto Condensed';
	-fx-font-size:24;
	-fx-font-weight:normal;
}

.completed-pane .check-box {
	-fx-font-family:'Roboto';
	-fx-text-fill:#FFFFFF;
	-fx-font-size:10;
	-fx-font-weight:bold;
}

.completed-pane .taskname, .completed-pane .timestamp {
	-fx-text-fill:#FFFFFF;
}



/**************** help styling ****************/
.help-pane .title {
	-fx-font-family:'Roboto Black';
	-fx-font-size:48;
	-fx-font-weight:normal;
}

.help-pane .subtitle {
	-fx-font-family:'Roboto';
	-fx-font-size:13;
	-fx-font-weight:bold;
}





.overlay-scrollpane, .overlay-scrollpane > .viewport {
	-fx-background-color:transparent;
}



.check-box > .box {
	-fx-background-color:transparent;
	-fx-border-color:#FFFFFF;
	-fx-border-radius:3px;
	-fx-border-style:dashed;
}

.scroll-pane > .scroll-bar:horizontal,
.scroll-pane > .scroll-bar:vertical {
	-fx-background-color:transparent;
    -fx-background-radius:2em;
    -fx-border-radius:2em;
}

.scorll-pane > .scroll-bar:horizontal .track,
.scroll-pane > .scroll-bar:vertical .track {
	-fx-background-color:transparent;
    -fx-background-radius:0em;
    -fx-border-color:transparent;
    -fx-border-radius:2em;
}

.scroll-pane > .scroll-bar:horizontal .thumb,
.scroll-pane > .scroll-bar:vertical .thumb {
	-fx-background-insets:4, 5, 6;
    -fx-background-radius:2em;
    -fx-border-radius:2em;
}

.scroll-pane > .scroll-bar > .increment-button, 
.scroll-pane > .scroll-bar > .decrement-button {
    -fx-background-color:transparent; 
    -fx-background-radius:0em;
    -fx-padding:0 0 10 0;
}

.scroll-pane > .scroll-bar > .increment-button > .increment-arrow,
.scroll-pane > .scroll-bar > .decrement-button > .decrement-arrow {
	-fx-shape:" ";
	-fx-padding:0;
}